$app-background: #000;
$app-border-weight: 10px;
$app-border-radius: 3rem;
$app-border-size: $app-border-weight solid #000;
$app-button-radius: .5rem;
$hover-color: #ff5757;
$hover-font: 18px;
$icon-margin: 5px;
$message-height: 80px;
$message-gradient: linear-gradient(#9c9c9c, #000);
$nav-background: #ccc;
$nav-height: 60px;
$nav-item-width: 33.3%;
$nonogram-size: 30px;
$settings-height: 100px;
$settings-gradient: linear-gradient(#000, #9c9c9c);
$table-border-bold: 3px solid #000;
$table-border-normal: 1px solid #000;
$main-height: calc(100vh - #{$nav-height} * 2);
$main-margin: 50px;
$nav-padding: calc(#{$app-border-weight} + #{$main-margin});
$game-height: calc(#{$main-height} - #{$settings-height} - #{$message-height});
